<div class="card animated pulse" *ngIf="pre.length > 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Bs</th>
        <th scope="col">Usd</th>
        <th scope="col">acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pre">
        <th>{{item.name}}</th>
        <td style="padding-left:38px"> {{item.stock}}</td>
        <td>{{item.price | number}}</td>
        <td>{{item.price2 | currency}}</td>
        <button class="no-class text-danger" (click)="delete(item)"><td style="padding-left:25px">x</td></button>
      </tr>
    </tbody>
  </table>
  <div class="text-info text-right mr-4">
      Presupuesto total: Bs {{obtenerTotal() | number}} | {{obtenerTotal()  / usdValor | currency}}
  </div>
  <div class="m-2">
      <a [routerLink]="['/factura']" routerLinkActive="router-link-active"  class="btn btn-success btn-lg btn-block animated pulse">terminar</a>
  </div>
</div>
<div *ngIf="pre.length > 0">
  <div class="row m-5 animated fadeIn" *ngIf="option">
    <p class="text-light">Si desea generar presupuesto por favor eliga en que moneda será dicho presupuesto</p> 
    <div class="col-md-6 text-center">
        <button class="no-class"><h2 class="text-warning" (click)="presupuest(); back('Bs'); option = false;  currency = 'Bs'" >BS <i class="fas fa-coins"></i></h2></button>
    </div>
    <div class="col-md-6 text-center">
        <button class="no-class"><h2 class="text-success" (click)="presupuest(); back('Usd'); option = false;  currency = 'Usd'">USD <i class="fas fa-dollar-sign"></i></h2></button>
    </div>
  </div>
  <div class="row" *ngIf="option == false">
    <div class="col-md-12 animated fadeIn">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Crear presupuesto PDF</h4>
          <div class="card-category">
            <div class="row">
              <div class="col-md-8">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <mat-form-field>
                      <mat-label>Seleccione un usuario</mat-label>
                      <mat-select  [(ngModel)]="chooseClient">
                        <mat-option *ngFor="let item of clients" [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </li>
                  <li class="list-inline-item"><button mat-stroked-button class="ml-4" (click)="getClienById(chooseClient)" *ngIf="chooseClient != ''">Rellenar</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form  class="form" #form="ngForm" (ngSubmit)="presupuest()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Atención" name="atencion" [(ngModel)]="variables.atention" required >
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Rif o cédula" name="rif" [(ngModel)]="variables.rifCed" required >
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Dirección" name="dir" [(ngModel)]="variables.address" required  >
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Teléfono"  name="tel" [(ngModel)]="variables.tlf" required  >
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mt-4">
                  <mat-label>Seleccione un vendedor</mat-label>
                  <mat-select name="vendeor" [(ngModel)]="variables.vendedor" required>
                    <mat-option *ngFor="let item of userList" [value]="item.name">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-slide-toggle class="mt-5" name="venta" [(ngModel)]="variables.venta" color="primary">
                  <ul>
                    <li>Encendido: mayor</li>
                    <li>Apagado: detal</li>
                  </ul>
                </mat-slide-toggle>
              </div> 
            </div>
            <button type="submit" class="btn btn-secundary btn-lg btn-block">Generar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
