
<div class="content">
  <div class="container-fluid">
    <div class="row mt-5 text-center">
      <div class="col-md-12 col-sm-12 " *ngIf="position == 'jefe' || position == 'empleado'">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a routerLink="/categorias/agregar" ><p class="text-warning">AGREGAR NUEVA CATEGORÍA  <i class="fas fa-align-left" style="font-size:1.5rem"></i></p> </a>
          </li>
          <li class="list-inline-item"><a routerLink="/productos/agregar" ><p class="text-info">AGREGAR NUEVO PRODUCTO <i class="fas fa-cube" style="font-size:1.5rem"></i></p> </a>
          </li>
          <li class="list-inline-item">
            <button class="text-danger no-class" value="CPTURE" (click)="captureScreen()">DESCARGAR PDF <i class="fas fa-file-pdf" style="font-size:1.5rem"></i></button>
          </li>
          <li class="list-inline-item">
            <app-export-excel [arrayExcel]="arrayExcel"></app-export-excel>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-6 mb-5">
      <div class="container mb-4">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar medicamento..." name="filter" [(ngModel)]="filter">
          </div> 
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 animated fadeIn" *ngFor="let product of product | filterProduct:filter">
          <div class="card card-profile">
            <div class="card-avatar">
              <img class="img" [src]="product.img == '' ? './assets/img/no-product.png' : product.img" />
            </div>
            <div class="cantidad">
                <div *ngIf="product.stock == 0">
                  <i class="fas fa-exclamation-triangle text-danger" style="font-size: 1.5rem"></i>
                </div>
                <span class="text-light">{{product.stock}}</span>
              </div>
            <div class="card-body">
                <div class="card-title">
                  <h3>{{product.name}}</h3>
                  <div class="mb-2" style="position:relative; bottom: 8px;">
                      <small *ngIf="position == 'jefe'">Compra: {{product.priceB}}</small>
                      <br>
                      <small *ngIf="product.iva != 0">Este producto contine Iva</small>
                  </div>
                  <div class="mb-2" *ngIf="product.priceS != 0">
                    <h4 style="font-size:0.8rem"><strong>Precio en USD:</strong>  {{product.priceS / Usd | currency}} <span class="text-warning" *ngIf="product.pricePro != 0">| Promoción {{product.pricePro | number}}</span> </h4>
                  </div>
                  <div class="mb-2" *ngIf="product.priceS$ != 0">
                      <h4 style="font-size:0.8rem"><strong>Precio en Bs:</strong>  {{product.priceS$ * Usd | number}} </h4>
                  </div>
                </div>
                <br>
                <div class="row mt-2 mb-2 text-left">
                  <div class="col md-4" *ngIf="product.priceS != 0">
                      Compra: {{product.priceS | number}}
                  </div>
                  <div class="col-md-4" *ngIf="product.priceS != 0">
                      <div *ngIf="product.iva == 0">
                          Venta: {{product.priceS * 1.10| number}}
                      </div>
                      <div *ngIf="product.iva != 0">
                          Venta: {{product.priceS * 0.16 + product.priceS * 1.10 | number}}
                      </div>
                  </div>
                  <div class="col-md-4" *ngIf="product.priceS != 0">
                      <div *ngIf="product.iva == 0">
                        Mayor: {{product.priceS | number}}
                      </div>
                      <div *ngIf="product.iva != 0">
                         Mayor: {{product.priceS * 0.16 + product.priceS | number}}
                      </div>
                  </div>
                  <div class="col-md-4" *ngIf="product.priceS == 0">
                     Compra: {{product.priceB}}
                  </div>
                  <div class="col-md-4" *ngIf="product.priceS == 0">
                      Venta: {{product.priceS$ * 1.10 | currency}}
                  </div>
                  <div class="col-md-4" *ngIf="product.priceS == 0">
                      Mayor: {{product.priceS$ | currency}}
                  </div>
                  <table class="table text-center textcolor">
                    <thead>
                      <th>Marca</th>
                      <th>Procedencia</th>
                      <th>Fecha de V</th>
                    </thead>
                    <tbody>
                      <td> {{product.marca}}  </td>
                      <td> {{product.marca2}} </td>
                      <td> {{product.fecven}} </td>
                    </tbody>
                  </table>
                </div>              
                <div class="row mt-2 mb-4 text-left" *ngIf="product.description != ''">
                    <div class="col md-12 ">
                        Descripción: {{product.description }} 
                    </div>
                </div>
                <div class="d-flex justify-content-center" *ngIf="position == 'jefe' || position == 'empleado' && permiss == 1">
                    <a class="btn btn-warning btn-round mr-4" [routerLink]="['/productos/editar',product.id]" routerLinkActive="router-link-active"  ><i class="material-icons">create</i></a>
                    <a  class="btn btn-danger btn-round" (click)="delete(product.id)" ><i class="material-icons">delete</i></a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

  <div >  
    <table class="tablee2" id="contentToConvert">
      <thead>
          <th> Cantidad </th>
          <th> Nombre </th>
          <th> Precio Bs </th>
          <th> Precio USD </th>
          
          <th> Fecha V </th>
      </thead>
      <tbody *ngFor="let pro of product | filterProduct:filter">
        <tr>
          <td>{{pro.stock}} </td>
          <td>{{pro.name}}</td>
          <td *ngIf="pro.priceB != 0">{{pro.priceS | number}} </td>
          <td *ngIf="pro.priceB != 0">{{pro.priceS / Usd | currency}} </td>
          <td *ngIf="pro.priceB == 0">{{pro.priceS$ * Usd | number}} </td>
          <td *ngIf="pro.priceB == 0">{{pro.priceS$ | currency}} </td>
          <td> {{pro.fecven}} </td> 
        </tr>
      </tbody>
    </table>      
  </div>  
  


